* {
  box-sizing: border-box;
}
<<<<<<< HEAD
body {
  background: #f8f8ff;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2em 3em;
  font-family: serif;
  color: #8d9aa5;
}

h1, h2, h3 {
  font-weight: 500;
  color: #384047;
}

h1 {
  font-size: 60px;
  padding: 0.55em 0;
  margin: 0 0 0.65em;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
}

h2 {
  font-size: 42px;  
  margin: 0;
}

h2:not(:first-of-type ) {
  border-top: solid 1px rgba(0, 0, 0, 0.15);
  padding-top: 34px;
}

h3 {
  color: #5f6a74;
  font-size: 24px;
  margin: 0 0 0.25em;
}

p {
  font-size: 1.15em;
  margin: 0.5em 0 1em;
}

img {
  max-width:100%;
  margin: 0 0 46px;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 700px) {
  img {
    width: 500px;
  }
=======
html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}
body {
  color: #fff;
  font-size: 1em;
  font-family: "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(15deg, #97dff4 0%, #38a9cb 100%);
}

main {
  width: 60%;
  max-width: 1080px;
  padding: 40px 0;
  margin: 0 auto;
}

h1 {
  font-size: 3.75em;
  text-align: center;
  margin: 0.35em 0 0.5em;
  text-shadow: 0 2px 0 rgba(0,0,0, 0.1);
}

h2 {
  font-size: 2.5em;
  font-weight: normal;
}

main p {
  font-size: 1.9em;
  margin: 0;
  line-height: 1.5;
  text-align: center;
}

ul,
ol {
  list-style-position: inside;
  font-size: 1.5em;
  margin: 0;
  padding: 0;  
}
li {
  line-height: 1.25;
  margin: 0 0 1.1em;
  color: #42b4d6; 
  padding: 0.8em;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0,0,0, 0.1);
>>>>>>> 6192f93df97536cb1ac820fa1b58ec4a862a2fa5
}